<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">Inicia sesión con tus credenciales</p>
  </div>

  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">

      <ion-item>
        <ion-input placeholder="Nombre de usuario" class="input" formControlName="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Este campo es obligatorio</ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Formato de correo inválido</ion-text>
      </div>


      <ion-item>
        <ion-input placeholder="Contraseña" class="input" formControlName="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

    <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
          <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Este campo es obligatorio</ion-text>
          <!-- <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput"  color="danger">Password Must contain at least one character</ion-text> -->
      </div>

      <div class="respassword-link">
        <a [routerLink]="['/restablacer-pass']" >¿Olvidaste tu contraseña?</a>
      </div>
      <div class="signup-link">
        <p>¿No tienes una cuenta? <a [routerLink]="['/signup'] " >Regístrate</a></p>
      </div>
    </div>
    <div class="boton">

      <ion-button (click)="login()" style="background-color:#FFA000 ;">Iniciar Sesión</ion-button>
    </div>
  </form>
</ion-content>