.container{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    align-items: center;
}

.background{
    width: 70%;
    margin-bottom: 30px;
}

.ion-title{
    margin-bottom: 30px;
    text-align: center;
    flex-wrap: wrap;
}
