.input {
  font-size: 300;
}

ion-item {
  border-radius: 10px;
  margin-bottom: 16px;
}

.header {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  .subTitle {
    margin-top: 30px;
    color: gray;
    font-size: 0.9rem;
  }
  .title {
    font-size: 2rem;
  }
}

.signInLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
  }
}

.boton {
  display: flex;
  justify-content: center;
}
