<ion-content [fullscreen]="true" class="contenedor">
<div class="header ion-padding">
  <ion-title class="title ion-padding">Restablecer</ion-title>
  <ion-title class="title">Contraseña</ion-title>
  <p class="subTitle">Ingresa tu correo para restablecer tu contraseña</p>
</div>
<div class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="email" class="input" placeholder="Correo Electrónico"></ion-input>
    <ion-icon name="mail-outline"></ion-icon>
  </ion-item>
</div>
<div class="signInLink">
  <p>¿Ya recordaste? <a [routerLink]="['/login']">Inicia Sesión</a></p>
</div>
<div class="boton">
  <ion-button (click)="resetPassword()">Restablecer Contraseña</ion-button>
</div>
</ion-content>
