<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bienvenido </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Hola! mi nombre es Brittany Espinel</ion-card-title>
        <div class="line"></div>
        <ion-card-subtitle>Te cuento un poco sobre mí ✨</ion-card-subtitle>
      </ion-card-header>
      
      <!-- <div class="line"></div> -->

      <ion-card-content class="content">
        Desarrolladora junior con sólidos conocimientos en lenguajes de desarrollo
        web como: HTML y CSS, así como en lenguajes de programación como: Java y
        JavaScript.
        <br />
        Cursando el quinto semestre de Tecnología en Desarrollo de Sofware. Mi
        enfoque es proactivo por lo que me gusta aprender nuevas tecnologías para
        adaptarme a nuevos entornos con facilidad.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
